:root{
    --blue:#7126fd;
    --black:#444;
    --light-color:#777;
    --bg-color:#d8d6d6ec;  
}

*{
    padding: 0;
    margin: 0;
    list-style: 0;
    box-sizing: border-box;
}

header {
  width: 100vw;
  position: fixed;
}

/* CABEÇALHO */
.autor img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: fixed;
    top:1.5rem; left: 2rem;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    box-shadow: var(--box-shadow);
    text-align: center;
    color:var(--black);
    background: var(--bg-color);
}

header{
    background-color: var(--bg-color);
    height: 10rem;
}

.menu{
    display: flex;
}

.menu ul {
    margin-top: 4.5rem;
    font-size: 1.25rem;
}

#menu-btn{
    position: fixed;
    top:1.5rem; right: 2rem;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color:var(--black);
    background: var(--bg-color);
}


.blueDiv p{
  padding-top: 1.5rem;
  padding-bottom: 1.7rem;
}

/* GRID CONTAINER */
.produtos {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    text-align: center;
    gap:20px;
    margin: 7rem 15rem;
}


.blueDiv{
    background-image: url(/img/map-Africa.png);
    background-repeat: no-repeat;
    margin-left: 580px;
    height: 130px;
}

.blueDiv p{
    padding-top: 60px;
    margin-left: -128px;
    color: rgb(188, 188, 189);
    position: fixed;
}

/* FOOTER */
footer{
    background-image: url('/img/bg.jfif');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    color:#cfcdcd;
}


/*********  MEDIA QUERY  **********/
@media (min-width:450px){
    header{
        height: 8rem;
    }

   .autor img{
        width: 85px;
        height: 85px;
   }

   #paragrafoInvisivel{
        margin-top:3rem;
        margin-left: 7.5rem;
        font-size: 1.05rem;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        width: 100vw;
    }

   .menu ul{
        display: none;
   }

   #menu-btn, .autor img, #paragrafoInvisivel{
        position: absolute;
   }

   footer{
        height: 4rem;
   }
   footer p{
        font-size:.5rem ;
        padding-top: 1.5rem;
   }

   
@media (min-width:768px){
    .autor img{
        width: 100px;
        height: 100px;
        margin-bottom: 5rem;
        /* DESFAZ O DISPLAY FIXED */
        position: absolute;
    }

   #menu-btn{
        position: absolute;
    }

   #paragrafoInvisivel{
        margin-top:2.5rem;
        margin-left: 15rem;
        font-size: 1.2rem;
    }

    footer{
        height: 5rem;
    }

    footer p{
        font-size:1rem ;
        padding-top: 1.8rem;
    }

   .produtos{
        display:grid;
        grid-template-columns: 1fr 1fr; 
        margin: 25px;
    }

    .produtos .card{
        background-color: white;
    }

    .produtos .card p:hover{
        color:var(--blue);
        cursor:pointer;
    }


}

@media (min-width:991px){
    .autor img{
        width: 120px;
        height: 110px;
    }

   #paragrafoInvisivel{
        margin-left: 21rem;
        font-size: 2rem;
    }

    .produtos{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr; 
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .produtos .card{
        background-color: white;
    }

    .produtos .card p:hover{
        color:var(--blue);
        font-size: 1.2rem;
    }

    footer{
        height: 5rem;
    }
       
    footer p{
        font-size:1rem ;
        padding-top: 1.8rem;
    }


@media (min-width:1200px){
    header{
        display: flex;
        justify-content: space-evenly;
    }

    .autor img{
        width: 150px;
        height: 150px;
        margin-left:5rem;
   }

    #menu-btn, #paragrafoInvisivel{
        display: none;
    }

   .menu ul{
        display: flex;
        margin-left: 35rem;
        margin-top: 3.5rem;
   }

   .menu ul a{
        margin-left: 1.5rem;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--black);
    }
 
    .menu ul a:hover{
        color: var(--blue);
        text-decoration: underline;
    }

    .produtos{
        margin-top: 4rem;
    }

    .produtos .card p:hover{
        color:var(--blue);
        font-size: 1.2rem;
    }

    footer p{
        padding-top:2rem;
    }

    footer{
        height: 5rem;
    }
       
    footer p{
        font-size:1.2rem ;
        padding-top: 1.8rem;
    }
}









/* FOOTER */

footer{
    /* incluindo uma foto de fundo do elemento */
    background: url('/img/bg.jfif');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    text-align: center;
    color:var(--bg-color);
}